* {
    box-sizing: border-box;
}
.container-xxl {
    background-color: #1b1918;
    border-radius: 0;
    border: 0;
    margin: 0;
}

#brand {
    font-size: 40px;
    font-style: italic;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
}

div > .img-fluid {
    background-color: #ca150e;  
}

.container-xxl {
    padding: 0;
}

#nav-list a {
    color: #fff;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
}

#nav-list a:hover {
    color: #ca150e;
}

#phone {
  text-align: center;
  background-color: #1b1918;
  font-size: 12.5;
  color: #fff;
  padding-bottom:15px;
}

.navbar-toggler {
    width: 15px;
    height: 15px;
    position: relative;
    transition: .5s ease-in-out;
    margin-right: 15px;
}

.navbar-toggler, .navbar-toggler:focus,
.navbar-toggler:active, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar_toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;

}

.middle-bar {
    margin-top: 0px;
}

/* When clicked */
.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

/*When navbar is collapsed*/
.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);

}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg);
}

#logo-img {
    margin-left: 15px;
}

/**** Large devices ***/
@media (min-width: 1200px) {

}

/**** Medium devices ***/
@media (min-width: 992px) and (max-width: 1199.99px) {
    #logo-img {
        background: url('./assets/logo-medium.png');
        width: 80px;
        height: 80px;
    }
    h1 {
        font-size: 35px;
    }
    i {
        font-size: 14.0px;
    }
}

/**** Small devices ***/
@media (min-width: 768px) and (max-width: 991.99px) {
    #logo-img {
        background: url('./assets/logo-small.png');
        width: 60px;
        height: 60px;
    }
    h1 {
        font-size: 30px;
    }
    i {
        font-size: 12.5px;
    }
}

/**** Extra small devices devices ***/
@media (max-width: 767.99px) {
    #logo-img {
        
        background: url('./assets/logo-small.png');
        width: 60px;
        height: 60px;
    }
    h1 {
        font-size: 30px;
    }
    i {
        font-size: 12px;
    }
    #footer-page {
        text-align: center;
    }
}